/* Used in projects.html */
.projects-per-grade {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: left;
}
.grade-project {
  align-items: center;
  background-color: #44444475;
  border-radius: 1rem;
  border: 1px;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  /*Add transition for smooth effect */
  width: 100%;
  min-height: 400px;
}

.invisible-grade-project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
  width: 100%;
  border: 1px;
  margin: 0.5rem;
  flex: 1;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: #44444475;
  transition: all 0.3s ease;
  /*Add transition for smooth effect */
  color: inherit;
  text-decoration: none;
  visibility: hidden;
}

.grade-project img,
video {
  width: 100%;
  margin: 1rem 0;
}

.grade-project:hover {
  max-width: 35%;
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.5);
  transform: translateY(-30px);
  cursor: pointer;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .grade-project {
    flex-grow: auto;
    /* Adjust for mobile */
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .grade_project {
    flex-grow: auto;
    min-width: 30rem;
    max-width: 50%;
  }
}
