nav {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

nav.scrolled {
  background-color: #86868670;
}

.name-top-right {
  float: right;
}

nav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #424242;
  color: white;
}

nav.scrolled a:hover {
  background-color: #33333325;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 'Paula' background from https://www.mshr.app/mesh/1712261858071 */
  background-color: hsla(161, 77%, 83%, 1);
  background-image: radial-gradient(
      circle at 7% 81%,
      hsla(172, 91%, 91%, 1) 16%,
      transparent 53%
    ),
    radial-gradient(circle at 5% 1%, hsla(238, 76%, 61%, 1) 7%, transparent 84%),
    radial-gradient(
      circle at 39% 52%,
      hsla(137, 93%, 64%, 1) 6%,
      transparent 68%
    ),
    radial-gradient(
      circle at 11% 29%,
      hsla(201, 97%, 75%, 1) 8%,
      transparent 74%
    ),
    radial-gradient(
      circle at 90% 50%,
      hsla(106, 94%, 89%, 1) 2%,
      transparent 85%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2rem;
  margin: -1rem;
}

.header-divider {
  border: none;
  height: 10px;
  background-color: #333;
  margin: 10px 0;
  width: 40%;
  border-radius: 3px;
}

.subheader {
  position: relative;
  height: 20vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 'Paula' background from https://www.mshr.app/mesh/1712261858071 */
  background-color: hsla(161, 77%, 83%, 1);
  background-image: radial-gradient(
      circle at 7% 81%,
      hsla(172, 91%, 91%, 1) 16%,
      transparent 53%
    ),
    radial-gradient(circle at 5% 1%, hsla(238, 76%, 61%, 1) 7%, transparent 84%),
    radial-gradient(
      circle at 39% 52%,
      hsla(137, 93%, 64%, 1) 6%,
      transparent 68%
    ),
    radial-gradient(
      circle at 11% 29%,
      hsla(201, 97%, 75%, 1) 8%,
      transparent 74%
    ),
    radial-gradient(
      circle at 90% 50%,
      hsla(106, 94%, 89%, 1) 2%,
      transparent 85%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
}

.subheader h1 {
  padding-top: 44px;
}
