body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: white;
}

main {
  padding: 1rem;
  text-align: left;
  width: 95%;
}

.container {
  width: 80%;
  margin: 20px auto;
}

/* Parallax Effect */
.parallax {
  position: relative;
  width: 100%;
  height: 110vh;
  /* Full screen height */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* This is the key for parallax */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

/* Dark overlay */
.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adjust opacity for darkness */
  z-index: 1; /* Ensures it overlays the background */
}

/* Ensures text remains visible above the overlay */
.parallax * {
  position: relative;
  z-index: 2;
}
/* Assigning Different Background Images */
#home-img1 {
  background-image: url("../images/grade11/sumobot.jpeg");
}

#home-img2 {
  background-image: url("../images/grade12/hydraulic_gearbot_wide.png");
}

#home-img3 {
  background-image: url("../images/grade10/house_render_wide.png");
}

#g10-img1 {
  background-image: url("../images/grade10/lamp_plans.png");
}

#g10-img2 {
  background-image: url("../images/grade10/house_render_wide.png");
}

#g10-img3 {
  background-image: url("../images/grade10/desk_picture.png");
}

#g11-img1 {
  background-image: url("../images/grade11/sumobot.jpeg");
}
#g11-img2 {
  background-image: url("../images/grade11/trebuchet.jpg");
}
#g11-img3 {
  background-image: url("../images/grade11/dream_apartment_render.png");
}
#g11-img4 {
  background-image: url("../images/grade11/rotating-calendar.jpg");
}
#g11-img5 {
  background-image: url("../images/grade11/phone-holder.jpg");
}
#g11-img6 {
  background-image: url("../images/grade11/hotel-packaging.jpg");
}

#g12-img1 {
  background-image: url("../images/grade12/hydraulic_gearbot_wide.png");
}

#g12-img2 {
  background-image: url("../images/grade12/marblerun.jpg");
}

/* Caption Styling */
.caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Text Sections */
.text-section {
  padding: 50px 20px;
  background: white;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.column h2 {
  margin-top: 0;
}

.column h3 {
  margin-top: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container section {
  text-align: center;
}

.container section h2 {
  font-size: 2rem;
  margin: 1rem;
}
