body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24252a;
    color: white
}

main {
    padding: 1rem;
    text-align: left;
}

.container {
    width: 80%;
    margin: 20px auto;
    /* border: 2px solid red; */
    /* debug box around the sections on the home page*/
}

.projects {
    padding: 1rem;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.grade-project {
    border-radius: 1rem;
    width: 100%;
    border: 1px ;
    margin: 0.5rem;
    flex: 1;
    padding: 10px;
    flex-wrap: wrap;
    min-width: 30rem;
    max-width: 50%;
    background-color: #35373c31;
    transition: all 0.3s ease; /* Add transition for smooth effect */
}

.grade-project:hover {
    flex-grow: 1000; /* Adjust this value as needed */
    background-color: #35373c;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    transform: scale(1.05); /* Slightly scale up */
    cursor: pointer; /* Change cursor to pointer */
}

.grade-project:hover ~ .grade-project {
    flex-grow: 1;
}
@media (max-width: 768px) {
    .grade-project {
        flex-grow: 1; /* Adjust for mobile */
        min-width: 100% 
    }
}

.column h2 {
    margin-top: 0;
}
.column h3 {
    margin-top: 1rem;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3vh
}

.container section {
    text-align: center;
}

.container section h2 {
    font-size: 2rem;
    margin: 1rem;
}