/* Used for gradeXX.html */

#projects-list {
  pointer-events: auto;
}
.project-section {
  display: flex;
  flex-direction: row;
  background-color: #44444475;
  color: white;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  align-items: flex-start; /* Align items to the start */
  flex-wrap: wrap;
  justify-content: center;
}

.project-subheader {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .project-section {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .project-pictures {
    width: 90%;
    align-self: center;
  }

  .project-description {
    margin: 1rem;
    padding: 0rem;
    width: 90%;
  }

  .project-section h3 {
    width: auto;
    text-align: center;
    margin-left: 0;
  }
}
