/* General about section styling */
.about {
  background-color: rgba(var(--hover-color-rgb), 0.75); /* 75% opacity */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.about h2 {
  text-align: center;
}

/* Project showcase section */
.about-pictures {
  /* masonry columns */
  column-count: 3; /* Creates 3 columns */
  column-gap: 1rem; /* Space between columns */
  max-width: 100%;
  margin: auto;
  padding: 1rem; /* Optional: Adds space around the section */
}

.about-pictures img {
  width: 100%; /* Makes images take full column width */
  margin-bottom: 1rem; /* Ensures space between images */
  border-radius: 0.5rem; /* Optional: Rounds corners */
  display: block; /* Fixes gaps caused by inline-block images */
}


/* Responsive: Adjust to 2 columns on medium screens */
@media (max-width: 1024px) {
  .about-pictures {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .about-pictures {
    column-count: 1;
  }
}

